<div class="detail-container row-f">
  <div class="detail-images col-f-6">
    <div class="detail-images-container col-f-12">
      <div class="detail-imagse-secondary col-f-1">
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
        <div
          class="detail-imagse-child"
          style="background-image: url('/assets/camara.png')"
        ></div>
      </div>
      <div
        class="detail-imagse-principal col-f-11"
        style="background-image: url('/assets/camara.png')"
      ></div>
    </div>
  </div>
  <div class="detail-options col-f-6">
    <div class="detail-options-container col-f-12">
      <p class="branch">Apple</p>
      <p class="product-name">
        IPhone 11 64GB Blanco Desbloqueado Apple Reacondicionado
      </p>
      <p class="price-n">$6,482.00</p>
      <p class="price-c">$6,482.00</p>
      <p class="location center"><mat-icon>storefront</mat-icon> Torreón</p>
      <p class="location center"><mat-icon>storefront</mat-icon> Torreón</p>
      <p class="location center"><mat-icon>storefront</mat-icon> Torreón</p>
      <div class="buttons-shop">
        <button><mat-icon>shopping_cart</mat-icon>Agregar al carrito</button>
        <button><mat-icon>payments</mat-icon>¡Comprar Ahora!</button>
      </div>
    </div>
  </div>
  <div class="detail-description col-f-12">
    <div class="detail-description-container col-f-12 row-f">
      <div class="col-f-4 frist-desc">
        
      </div>
      <div class="col-f-8 frist-desc">
        <p class="title-desc">
            Descripcion
        </p>
        <p class="body-desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt dolorum error aliquid rerum quae. Ipsa aut atque nobis, id, esse aperiam distinctio officiis adipisci facere ratione enim iusto amet ducimus! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam ab iste omnis ratione ea, aut sequi nihil hic amet repellendus accusamus nisi quasi corporis saepe modi officiis, laudantium sunt dignissimos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem inventore illo, magni voluptate quo perferendis asperiores provident dolores quaerat quasi recusandae iure distinctio cum mollitia architecto labore laboriosam ducimus omnis?
        </p>
      </div>
    </div>
  </div>
  <div class="detail-comments col-f-12">
    <div class="detail-comments-container col-f-12">
      <p class="title-comments">Preguntas y respuestas</p>
      <div class="qa-section">
        <div class="question" *ngFor="let question of questions">
          <p class="question-text">
            {{ question.question }}
          </p>
          <div class="answers" *ngFor="let answers of question.answers">
            <p class="answers-text">
              {{ answers }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>