<main class="row-f">
  <form [formGroup]="signUpForm" (submit)="onSubmit()" class="col-f-7">
    <h2 class="text-color">Sing Up</h2>

    <div class="input-body col-f-8">
      <label class="col-f-12" for="name">name</label>
      <div class="content-input">
        <input
          formControlName="username"
          type="text"
          name="name"
          id="name"
          autocomplete="username"
        />
      </div>
    </div>

    <div class="input-body col-f-8">
      <label class="col-f-12" for="email">Email</label>
      <div class="content-input">
        <input
          formControlName="email"
          type="email"
          name="email"
          id="email"
          autocomplete="email"
        />
      </div>
    </div>

    <div class="input-body col-f-8">
      <label class="col-f-12" for="password">Password</label>
      <div class="content-input">
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          autocomplete="new-password"
        />
      </div>
    </div>

    <div class="input-body col-f-8">
      <label class="col-f-12" for="password_confirmation">Confirm Password</label>
      <div class="content-input">
        <input
          formControlName="password_confirmation"
          type="password"
          name="password_confirmation"
          id="password_confirmation"
          autocomplete="current-password"
        />
      </div>
    </div>

    <div class="input-body col-f-8">
      <button type="submit" class="loading-button" [class.loading]="isLoading">
        Sing Up
      </button>
    </div>
  </form>

  <section class="col-f-5">
    <h2 class="title">Title</h2>
    <p>Welcome to Title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, suscipit
      aspernatur dolores vitae eveniet repellat, molestias voluptate, earum
      voluptas veniam ut labore a reiciendis eligendi illo voluptates? Itaque, a
      accusantium!
    </p>

    <div class="btn-f">
      <a routerLink="/sign-in" class="color">Sing Up</a>
    </div>
  </section>
</main>
