<main class="row">
  <section class="col-7">
    <h2 class="text-color">Sing Up</h2>

    <div class="input-body col-8">
      <label class="col-12" for="name">name</label>
      <div class="content-input">
        <input type="text" name="name" id="name" />
      </div>
    </div>

    <div class="input-body col-8">
      <label class="col-12" for="email">Email</label>
      <div class="content-input">
        <input type="email" name="email" id="email" />
      </div>
    </div>

    <div class="input-body col-8">
      <label class="col-12" for="password">Password</label>
      <div class="content-input">
        <input type="password" name="password" id="password" />
      </div>
    </div>

    <div class="input-body col-8">
      <label class="col-12" for="password">Confirm Password</label>
      <div class="content-input">
        <input type="password" name="password" id="password" />
      </div>
    </div>

    <div class="input-body col-8" style="margin-top: 1rem">
      <button>Sing In</button>
    </div>
  </section>

  <section class="col-5">
    <h2 class="title">Title</h2>
    <p>Welcome to Title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, suscipit
      aspernatur dolores vitae eveniet repellat, molestias voluptate, earum
      voluptas veniam ut labore a reiciendis eligendi illo voluptates? Itaque, a
      accusantium!
    </p>

    <div class="btn">
      <a routerLink="/sign-in" class="color">Sing Up</a>
    </div>
  </section>
</main>
