main {
  min-height: 100vh;
  height: 100%;
}

main section:nth-child(2) {
  background: #264653;
  background: -webkit-linear-gradient(57deg, #264653 0%, #2a9d8f 100%);
  background: linear-gradient(57deg, #264653 0%, #2a9d8f 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.6rem;
  padding: 1rem;
  text-align: center;
}

main section:nth-child(1) p:nth-child(2) {
  font-size: 150%;
}

main section:nth-child(1) p:nth-child(3) {
  font-size: 80%;
}

.title {
  font-size: 200%;
}

.color {
  background-image: -webkit-radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  background-image: radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  padding: 0.5rem 6.5rem;
  display: flex;
  font-weight: bold;
}

.btn {
  border-radius: 1rem;
  background-color: white;
}

/* SECOND */

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

.content-input {
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 1rem;
}

input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  font-weight: 600;
  background-image: -webkit-radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  background-image: radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  font-weight: bold;
  width: 100%;
}

.input-body {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: left;
}

button {
  padding: 0.5rem 3rem;
  background: #2a9d8f;
  background: -webkit-linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  background: linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  color: white;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.forgot {
  display: flex;
  justify-content: flex-end;
}

.text-color {
  background-image: -webkit-radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  background-image: radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: flex;
  font-weight: bold;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  section {
    height: 50%;
  }
}
