<section class="row-f">
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
</section>

<section class="row-f">
    <div class="col-12">
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
      </div>
    </div>
</section>

<section class="row-f">
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
</section>

<section class="row-f">
    <div class="col-12">
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
      </div>
    </div>
</section>


<section class="row-f">
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
</section>

<section class="row-f">
    <div class="col-12">
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
      </div>
    </div>
</section>


<section class="row-f">
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
  <div class="col-6">
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
    </div>
  </div>
</section>

<section class="row-f">
    <div class="col-12">
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut sint quos odio id ratione eveniet quae nihil sapiente tempore modi nisi impedit, non explicabo excepturi quia a sit consequatur.
      </div>
    </div>
</section>
