<section class="row-f">
  <div class="col-6"></div>
  <div class="col-6"></div>
</section>

<section class="row-f">
    <div class="col-12"></div>
</section>

<section class="row-f">
  <div class="col-6"></div>
  <div class="col-6"></div>
</section>

<section class="row-f">
  <div class="col-12"></div>
</section>

<section class="row-f">
  <div class="col-6"></div>
  <div class="col-6"></div>
</section>

<section class="row-f">
  <div class="col-12"></div>
</section>

<section class="row-f">
  <div class="col-6"></div>
  <div class="col-6"></div>
</section>

<section class="row-f">
  <div class="col-12"></div>
</section>

<section class="row-f">
  <div class="col-6"></div>
  <div class="col-6"></div>
</section>

<section class="row-f">
  <div class="col-12"></div>
</section>

<section class="row-f">
  <div class="col-6"></div>
  <div class="col-6"></div>
</section>

<section class="row-f">
  <div class="col-12"></div>
</section>
