<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container-form">
  <div>
    <p class="title">{{ title }}</p>

    <div class="inputGroup inputGroupSelect">
      <select name="sale" formControlName="sale_id" id="sale">
        <option *ngFor="let sale of sales" [value]="sale.id">{{ sale.id }}</option>
      </select>
      <label for="name">Venta</label>
    </div>

    <div class="inputGroup inputGroupSelect">
      <select name="product" formControlName="product_branche_id" id="product">
        <option *ngFor="let product of productBranche" [value]="product.id">{{ product.product.name + product.stock}}</option>
      </select>
      <label for="name">Producto</label>
    </div>

    <div class="inputGroup">
      <input
        type="text"
        required=""
        autocomplete="off"
        formControlName="quantity"
      />
      <label for="quantity">Cantidad</label>
    </div>
    
  </div>

    <div class="end-button">
      <button
        class="btn-deg"
        type="submit"
        class="loading-button-black btn-deg"
        [class.loading-button]="isLoading"
      >
        {{ this.textButton }}
      </button>
      <button class="btn-cancel" type="button" (click)="onClose()">
        Cancelar
      </button>
    </div>
</form>
