header {
  height: 3rem;
  padding: 0.5rem;
}

section {
  padding: 0.5rem;
  height: calc(100vh - 3rem);
}

main {
  padding: 0.5rem;
  height: calc(100vh - 3rem);
  background-color: black;
}
.container {
  height: 100vh;
}