header {
  height: 4rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-img {
  vertical-align: bottom;
  margin: 0 !important;
}

header div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

section {
  padding: 0.5rem;
  height: calc(100vh - 4rem);
  overflow: auto;
}

.container-f {
  background: #2a9d8f;
  background: -webkit-linear-gradient(150deg, #2a9d8f 0%, #264653 100%);
  background: linear-gradient(150deg, #2a9d8f 0%, #264653 100%);
  color: white;
}

main {
  padding: 1rem 2.5rem;
  height: calc(100vh - 4rem);
  background-color: rgb(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem 0 0 0;
  overflow: auto;
}
.container-f {
  height: 100vh;
}

.accordion {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.accordion-item,
.accordion-header,
.accordion-button {
  border-radius: 1rem !important;
}

.accordion-button {
  padding: 0.8rem !important;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.view {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  
  border-radius: 1rem;
  padding: 0.5rem;
}

.accordion-body a {
  text-decoration: none;
  color: black;
  vertical-align: bottom;
}

.accordion-body li,
.accordion-body ul {
  list-style-type: none;
}

.parallax {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   Introduction    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
#introduction {
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
}

.intro-body {
  flex-direction: column !important;
  align-items: center;
}

.intro-title {
  font-size: 5.5vw;
  font-weight: 600;
  text-align: center;
}

.intro-desc {
  font-size: 90%;
  color: gray;
  text-align: center;
}

.intro-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.intro-images-one {
  height: 8rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px 1px #dddddd;
  -moz-box-shadow: 0 0 10px 1px #dddddd;
  box-shadow: 0 0 10px 1px #dddddd;
}

.intro-images-two {
  height: 10rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px 1px #dddddd;
  -moz-box-shadow: 0 0 10px 1px #dddddd;
  box-shadow: 0 0 10px 1px #dddddd;
}

.intro-btn {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.intro-btn a {
  padding: 0.8rem 5rem;
  background: -webkit-linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  background: linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  color: white;
  border-radius: 1rem;
  font-weight: 600;
}

.intro-logos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
}

.intro-logos-img {
  background-color: gray;
  height: 3rem;
  border-radius: 1rem;
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   tutorial    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */

.card-tutorials {
  height: 10rem;
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   header    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */

.home {
  cursor: pointer;
}

header nav ul {
  list-style-type: none;
  align-items: center;
  margin: 0 !important;
}

header nav div li {
  list-style-type: none;
  margin: 0 !important;
}

header {
  padding: 0.5rem;
}

header nav ul div:nth-child(2) {
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav ul div:nth-child(3) {
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.sign-in {
  display: flex;
}

.btn-grad {
  padding: 0.4rem 5rem;
  background: #2a9d8f;
  background: -webkit-linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  background: linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  color: white;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 600;
}

a {
  cursor: pointer;
}

.beneficios {
  background-color: black;
  border-radius: 2rem;
  overflow: hidden;
}

.beneficios div{
  background-color: white;
}

.renglon {
  width: 100%;
}

.renglon-circulo {
  width: 100%;
  aspect-ratio: 1;
  background-color: #264653 !important;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.renglon-circulo mat-icon {
  font-size: 200%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.renglon-title {
  width: 80%;
  font-size: 120%;
  font-weight: bold;

}

.renglon-text {
  width: 80%;
}