<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container-form">
  <div>
    <p class="title">{{ title }}</p>
    <div class="inputGroup inputGroupSelect">
      <select formControlName="client_id" name="client" id="client">
        <option *ngFor="let client of clients" [value]="client.id">
          {{ client.fname || client.username }}
        </option>
      </select>
      <label for="name">Client</label>
    </div>
  </div>

  <div class="end-button">
    <button
      class="btn-deg"
      type="submit"
      class="loading-button-black btn-deg"
      [class.loading-button]="isLoading"
    >
      {{ this.textButton }}
    </button>
    <button class="btn-cancel" type="button" (click)="onClose()">
      Cancelar
    </button>
  </div>
</form>
