<header>
  <nav>
    <ul class="row-f">
      <div class="row-f col-f-2">
        <li>Logo</li>
      </div>
      <div class="row-f col-f-7">
        <li><a (click)="scrollToSection('second')">Section Two</a></li>
        <li><a (click)="scrollToSection('third')">Section Three</a></li>
        <li><a (click)="scrollToSection('fourth')">Section Four</a></li>
        <li><a (click)="scrollToSection('fifth')">Section Four</a></li>
      </div>
      <div class="row-f col-f-3">
        <li class="sign-in">
          <a routerLink="/sign-in" class="btn-grad">Sing In</a>
        </li>
      </div>
    </ul>
  </nav>
</header>
