<header>
  <nav>
    <ul class="row-f">
      <div class="row-f col-f-2">
        <li (click)="home()" class="home">
          <div class="logo" style="background-image: url('assets/logo.png'); height: 3rem;"></div>
        </li>
      </div>
      <div class="row-f col-f-7"></div>
      <div class="row-f col-f-3">
        <li class="sign-in" *ngIf="!this.isAuth">
          <a routerLink="/sign-in" class="btn-grad" (click)="sign()">Sing In</a>
        </li>
        <li class="sign-in" *ngIf="this.isAuth">
          <div class="header-profile col-f-6">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="profile()">
                <mat-icon>settings</mat-icon>
                <span>Perfil</span>
              </button>
              <button mat-menu-item (click)="singOut()">
                <mat-icon>logout</mat-icon>
                <span>Sing Out</span>
              </button>
            </mat-menu>
          </div>
        </li>
      </div>
    </ul>
  </nav>
</header>
