<div class="container-form">
  <p class="title">Agregar Producto</p>

  <div class="row-f">
    <div class="col-f-12">
      <div class="inputGroup">
        <input type="text" required="" autocomplete="off" />
        <label for="name">Name</label>
        <mat-icon>home</mat-icon>
      </div>
    </div>
  </div>

  <div class="row-f">
    <div class="col-f-6">
      <div class="inputGroup">
        <input type="text" required="" autocomplete="off" />
        <label for="name">Name</label>
        <mat-icon>home</mat-icon>
      </div>
    </div>
    <div class="col-f-6">
      <div class="inputGroup">
        <input type="text" required="" autocomplete="off" />
        <label for="name">Name</label>
        <mat-icon>home</mat-icon>
      </div>
    </div>
  </div>

  <div class="row-f">
    <div class="col-f-12">
      <div class="inputGroup">
        <input type="text" required="" autocomplete="off" />
        <label for="name">Name</label>
        <mat-icon>home</mat-icon>
      </div>
    </div>
  </div>

  <div class="row-f">
    <div class="col-f-6">
      <div class="inputGroup">
        <input type="text" required="" autocomplete="off" />
        <label for="name">Name</label>
        <mat-icon>home</mat-icon>
      </div>
    </div>
    <div class="col-f-6">
      <div class="inputGroup">
        <input type="text" required="" autocomplete="off" />
        <label for="name">Name</label>
        <mat-icon>home</mat-icon>
      </div>
    </div>
  </div>

  <div class="end-button">
    <button class="btn-deg">Agregar</button>
  </div>
</div>
