<header>
  <nav>
    <ul class="row">
      <div class="row col-2">
        <li>Logo</li>
      </div>
      <div class="row col-7">
        <li>Section One</li>
        <li>Section Two</li>
        <li>Section Three</li>
        <li>Section Four</li>
      </div>
      <div class="row col-3">
        <li>Sing In</li>
        <li>Sing Out</li>
      </div>
    </ul>
  </nav>
</header>

<section id="introduction" class="row">
  <div class="intro-body row col-10">
  <div>
    <p class="intro-title">Help local business owners</p>
  <p class="intro-title text-grad">take back control.</p>
  </div>
  <p class="intro-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsam quae cupiditate in atque tempore dolorem pariatur aut exercitationem quis, veritatis nisi magnam sapiente optio. Sequi tempore quia atque modi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, beatae neque! Alias iste, corporis assumenda aliquid quae dolores hic, excepturi earum aut id, blanditiis molestiae qui perferendis totam dignissimos vitae.</p>
  <div class="intro-btn">
    <a>View Open Roles</a>
  </div>
  <div class="intro-images col-12">
    <div class="intro-images-one col-2"></div>
    <div class="intro-images-two col-2"></div>

    <div class="intro-images-one col-2"></div>
    <div class="intro-images-two col-2"></div>

    <div class="intro-images-one col-2"></div>
    <div class="intro-images-two col-2"></div>

    <div class="intro-images-one col-2"></div>
    <div class="intro-images-two col-2"></div>

    <div class="intro-images-one col-2"></div>
    <div class="intro-images-two col-2"></div>
  </div>

  <div class="intro-logos row col-10">
    <div class="intro-logos-img col-2"></div>
    <div class="intro-logos-img col-2"></div>
    <div class="intro-logos-img col-2"></div>
    <div class="intro-logos-img col-2"></div>
    <div class="intro-logos-img col-2"></div>
  </div>
  </div>
</section>

<section>
  content
</section>

<section>
  content
</section>

<section>
  content
</section>

<section>
  content
</section>

<section>
  content
</section>

<footer>

  <div class="row">
    <div class="col-6 row">
      <div class="row col-12">
        <p id="footer-text" class="col-12">Start Your Own Messaging App</p>
      </div>
    
      <div id="footer-links" class="col-12">
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
      </div>  
    </div>
    <div class="col-6 row footer-img">
      <div class="footer-img-cont col-7"></div>
    </div>
  </div>

  <div id="footer-con">
    <p>&copy; Electronics and security systems store of Torreon, S.A. de C.V</p>
   <div id="footer-terms">
    <a href="">Terms & Condictions</a>
    <a href="">Privacy Policy</a>
   </div>
  </div>
</footer>
