<header>
  <nav>
    <ul class="row">
      <div class="row col-2">
        <li>Logo</li>
      </div>
      <div class="row col-7">
        <li><a (click)="scrollToSection('second')">Section Two</a></li>
        <li><a (click)="scrollToSection('third')">Section Three</a></li>
        <li><a (click)="scrollToSection('fourth')">Section Four</a></li>
        <li><a (click)="scrollToSection('fifth')">Section Four</a></li>
      </div>
      <div class="row col-3">
        <li class="sign-in">
          <a routerLink="/sign-in" class="btn-grad">Sing In</a>
        </li>
      </div>
    </ul>
  </nav>
</header>

<section id="introduction" class="row">
  <div class="intro-body row col-10">
    <div>
      <p class="intro-title">Help local business owners</p>
      <p class="intro-title text-grad">take back control.</p>
    </div>
    <p class="intro-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsam
      quae cupiditate in atque tempore dolorem pariatur aut exercitationem quis,
      veritatis nisi magnam sapiente optio. Sequi tempore quia atque modi. Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Illum, beatae neque!
      Alias iste, corporis assumenda aliquid quae dolores hic, excepturi earum
      aut id, blanditiis molestiae qui perferendis totam dignissimos vitae.
    </p>
    <div class="intro-btn">
      <a>View Open Roles</a>
    </div>
    <div class="intro-images col-12">
      <div class="intro-images-one col-2"></div>
      <div class="intro-images-two col-2"></div>

      <div class="intro-images-one col-2"></div>
      <div class="intro-images-two col-2"></div>

      <div class="intro-images-one col-2"></div>
      <div class="intro-images-two col-2"></div>

      <div class="intro-images-one col-2"></div>
      <div class="intro-images-two col-2"></div>

      <div class="intro-images-one col-2"></div>
      <div class="intro-images-two col-2"></div>
    </div>

    <div class="intro-logos row col-10">
      <div class="intro-logos-img col-2"></div>
      <div class="intro-logos-img col-2"></div>
      <div class="intro-logos-img col-2"></div>
      <div class="intro-logos-img col-2"></div>
      <div class="intro-logos-img col-2"></div>
    </div>
  </div>
</section>

<section id="tutorials">
  <div class="tutorials-body">
    <div class="card-tutorials"></div>
  </div>
</section>

<section
  class="parallax"
  style="background-image: url('./../../../../assets/ele.png')"
  id="second"
></section>

<section id="third" style="height: 100%; background-color: black">content</section>

<section
  class="parallax"
  style="background-image: url('./../../../../assets/ele.png')"
  id="fourth"
></section>

<section id="fifth" style="height: 100%; background-color: black">content</section>

<footer>
  <div class="row">
    <div class="col-6 row">
      <div class="row col-12">
        <p id="footer-text" class="col-12">Start Your Own Messaging App</p>
      </div>

      <div id="footer-links" class="col-12">
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="col-6 row footer-img">
      <div class="footer-img-cont col-7"></div>
    </div>
  </div>

  <div id="footer-con">
    <p>&copy; Electronics and security systems store of Torreon, S.A. de C.V</p>
    <div id="footer-terms">
      <a href="">Terms & Condictions</a>
      <a href="">Privacy Policy</a>
    </div>
  </div>
</footer>
