/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   header    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
header {
  -webkit-box-shadow: 0 32px 32px -7px #dddddd;
  -moz-box-shadow: 0 32px 32px -7px #dddddd;
  box-shadow: 0 32px 32px -7px #dddddd;
  margin-bottom: 2rem;
}
header nav ul {
  list-style-type: none;
  align-items: center;
}

header nav div li {
  list-style-type: none;
}

header {
  padding: 0.5rem;
}

header nav ul div:nth-child(2) {
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav ul div:nth-child(3) {
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

header nav ul div:nth-child(3) li:nth-child(2) {
  padding: 0.5rem 3rem;
  background: #2a9d8f;
  background: -webkit-linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  background: linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  color: white;
  border-radius: 1rem;  
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   footer    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 4rem 2rem;
  background-color: #264653;
  color: white;
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: white;
}

#footer-con {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 2px solid white;
}

#footer-text {
  font-size: 5.5vw;
  font-weight: 600;
  text-align: center;
}

#footer-terms {
  display: flex;
  gap: 1.5rem;
}

#footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2rem 0;
}

#footer-links div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-img {
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.footer-img-cont {
  aspect-ratio: 1;
  /* background-color: rgb(0, 0, 0, 0.1); */
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 0.5px #dddddd;
  -moz-box-shadow: 0 0 10px 0.5px #dddddd;
  box-shadow: 0 0 10px 0.5px #dddddd;
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   Introduction    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
#introduction {
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
}

.intro-body {
  flex-direction: column !important;
  align-items: center;
}

.intro-title {
  font-size: 5.5vw;
  font-weight: 600;
  text-align: center;
}

.text-grad {
  background-image: -webkit-radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  background-image: radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.intro-desc {
  font-size: 90%;
  color: gray;
  text-align: center;
}

.intro-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.intro-images-one {
  height: 8rem;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px 1px #dddddd;
  -moz-box-shadow: 0 0 10px 1px #dddddd;
  box-shadow: 0 0 10px 1px #dddddd;
}

.intro-images-two {
  height: 10rem;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px 1px #dddddd;
  -moz-box-shadow: 0 0 10px 1px #dddddd;
  box-shadow: 0 0 10px 1px #dddddd;
}

.intro-btn {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.intro-btn a {
  padding: 0.8rem 5rem;
  background: #2a9d8f;
  background: -webkit-linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  background: linear-gradient(86deg, #2a9d8f 0%, #264653 100%);
  color: white;
  border-radius: 1rem;
}

.intro-logos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
}

.intro-logos-img {
  background-color: rgb(0, 0, 0, 0.1);
  height: 3rem;
  border-radius: 1rem;
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   tutorial    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */


#tutorials {

}

.tutorials-body {
  
}

.card-tutorials {
  height: 10rem;
}