<main class="row-f">
  <section class="col-f-12">
    <h2 class="text-color">Forgot Password</h2>

    <form
      [formGroup]="forgotPasswordForm"
      style="
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
      "
    >
      <div class="input-body col-f-8">
        <label class="col-f-12" for="email">Email</label>
        <div class="content-input">
          <input type="email" formControlName="email" id="email" />
        </div>
      </div>

      <div class="input-body col-f-8" style="margin-top: 1rem">
        <button type="submit" (click)="onSubmit()" [class.loading-button]="isLoading">Send Email</button>
      </div>
    </form>
  </section>
</main>
