<footer>
  <div class="row-f">
    <div class="col-f-6 row-f">
      <div class="row-f col-f-12">
        <p id="footer-text" class="col-f-12">Start Your Own Messaging App</p>
      </div>

      <div id="footer-links" class="col-f-12">
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
        <div>
          <a href="">Terms & Condictions</a>
          <a href="">Privacy Policy</a>
          <a href="">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="col-f-6 row-f footer-img">
      <div class="footer-img-cont col-f-7"></div>
    </div>
  </div>

  <div id="footer-con">
    <p>&copy; Electronics and security systems store of Torreon, S.A. de C.V</p>
    <div id="footer-terms">
      <a href="">Terms & Condictions</a>
      <a href="">Privacy Policy</a>
    </div>
  </div>
</footer>
