<footer style="border-radius: 8rem 8rem 0 0">
  <div class="row-f">
    <div class="col-f-6 row-f">
      <div class="row-f col-f-12">
        <p id="footer-text" class="col-f-12" style="font-size: 2rem">
          Somos tu aliado en seguridad y tecnología. Nuestro objetivo es
          brindarte soluciones innovadoras para proteger lo que más te importa.
        </p>
      </div>

      <div id="footer-links" class="col-f-12">
        <div>
          <a href="/">Inicio</a>
          <a href="/productos">Productos</a>
          <a href="/tiendas">Tiendas</a>
          <a href="/contacto">Contacto</a>
        </div>
        <div>
          <a href="/">Inicio</a>
          <a href="/productos">Productos</a>
          <a href="/tiendas">Tiendas</a>
          <a href="/contacto">Contacto</a>
        </div>
        <div>
          <a href="/">Inicio</a>
          <a href="/productos">Productos</a>
          <a href="/tiendas">Tiendas</a>
          <a href="/contacto">Contacto</a>
        </div>
      </div>
    </div>
    <div class="col-f-6 row-f footer-img">
      <div
        class="footer-img-cont col-f-7"
        class="logo"
        style="background-image: url('assets/logo.png')"
      ></div>
    </div>
  </div>

  <div id="footer-con">
    <p>&copy; Electronics and security systems store of Torreon, S.A. de C.V</p>
    <div id="footer-terms">
      <a href="">Terms & Condictions</a>
      <a href="">Privacy Policy</a>
    </div>
  </div>
</footer>
