html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: rgb(0, 0, 0, 0.1); */
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   flex    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */

.row-f {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*="col-f"] {
  width: 100%;
  max-width: 100%;
}

/* :::::::: ::::::::  :::::::: */
/* ::::::::justify-content:::::::: */
/* :::::::: ::::::::  :::::::: */

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-baseline {
  justify-content: baseline;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

.jc-evenly {
  justify-content: space-evenly;
}

/* :::::::: ::::::::  :::::::: */
/* ::::::::align-items:::::::: */
/* :::::::: ::::::::  :::::::: */

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-stretch {
  align-items: stretch;
}

.ai-baseline {
  align-items: baseline;
}

/* :::::::: ::::::::  :::::::: */
/* ::::::::align-content:::::::: */
/* :::::::: ::::::::  :::::::: */

.ac-center {
  align-content: center;
}

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-around {
  align-content: space-around;
}

.ac-between {
  align-content: space-between;
}

.ac-stretch {
  align-content: stretch;
}

/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   media    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 425px) {
  nav div {
    justify-content: center !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row-f {
    flex-direction: row;
  }

  .col-f-1 {
    width: 8.33%;
  }
  .col-f-2 {
    width: 16.66%;
  }
  .col-f-3 {
    width: 25%;
  }
  .col-f-4 {
    width: 33.33%;
  }
  .col-f-5 {
    width: 41.66%;
  }
  .col-f-6 {
    width: 50%;
  }
  .col-f-7 {
    width: 58.33%;
  }
  .col-f-8 {
    width: 66.66%;
  }
  .col-f-9 {
    width: 75%;
  }
  .col-f-10 {
    width: 83.33%;
  }
  .col-f-11 {
    width: 91.66%;
  }
  .col-f-12 {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  .row-f {
    flex-direction: row;
  }
  .col-f-35 {
    width: 30%;
  }
  .col-f-1 {
    width: 8.33%;
  }
  .col-f-2 {
    width: 16.66%;
  }
  .col-f-3 {
    width: 25%;
  }
  .col-f-4 {
    width: 33.33%;
  }
  .col-f-5 {
    width: 41.66%;
  }
  .col-f-6 {
    width: 50%;
  }
  .col-f-7 {
    width: 58.33%;
  }
  .col-f-8 {
    width: 66.66%;
  }
  .col-f-9 {
    width: 75%;
  }
  .col-f-10 {
    width: 83.33%;
  }
  .col-f-11 {
    width: 91.66%;
  }
  .col-f-12 {
    width: 100%;
  }
}

.loading-button {
  position: relative;
  overflow: hidden;
}

.loading-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.loading-button.loading {
  color: transparent;
}

.loading-button.loading::after {
  pointer-events: auto;
}

.loading-button.loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
