.container-form {
  padding: 1rem;
  overflow-y: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1.8em 0;
  width: 100%;
  position: relative;
}

.col-f-6,
.col-f-12 {
  padding: 0 0.5rem;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup select {
  height: 52.57px;
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup mat-icon {
  color: rgb(100, 100, 100);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, 55%);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-60%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #264653;
}

.inputGroupSelect :is(select:enabled) ~ label {
  transform: translateY(-60%) scale(0.9);
  margin: 0em;
  height: auto;
  margin-left: 1.3em;
  padding: 0.4em;
  margin-top: 0.5em;
  background-color: white;
}
.inputGroupDate :is(input:enabled) ~ label {
  transform: translateY(-60%) scale(0.9);
  margin: 0em;
  height: auto;
  margin-left: 1.3em;
  padding: 0.4em;
  margin-top: 0.5em;
  background-color: white;
}

.end-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.end-button button {
  padding: 0.6rem 4rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
}

.btn-cancel {
  background-color: red;
  color: white;
}