<div class="row-f">
  <!-- nav bar  -->

  <header id="header-navbar" class="col-f-12">
    <nav></nav>
  </header>

  <!-- aside bar  -->

  <aside id="aside-navbar" class="col-f-2">
    <nav>
      <h2>Title</h2>
    </nav>
  </aside>

  <!-- main  -->

  <main id="main" class="col-f-10 row-f">
    <!-- <div class="navbar-search">
      <span class="material-symbols-outlined"> search </span>
      <input type="text" placeholder="Buscar..." id="input-search" />
    </div> -->

    <main id="main-body" class="row-f">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, similique explicabo. Illum nostrum nam, doloremque similique veritatis dolorum, reiciendis fugiat quod quam corrupti maiores voluptatum ullam tenetur? Voluptates, sed quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci officiis dolores tempore totam quae omnis itaque ipsa. Quidem hic doloribus nobis eveniet animi sit nesciunt, perspiciatis id nam delectus ab.</p>
    </main>
  </main>

  <footer id="footer" class="col-f-12"></footer>
</div>
